@font-face {
    font-family: 'opendyslexic';
    src: url('__MSG_@@extension_id__/fonts/OpenDyslexic-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opendyslexic';
    src: url('__MSG_@@extension_id__/fonts/OpenDyslexic-Bold.otf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'opendyslexic';
    src: url('__MSG_@@extension_id__/fonts/OpenDyslexic-Bold.otf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'opendyslexic';
    src: url('__MSG_@@extension_id__/fonts/OpenDyslexic-Bold.otf');
    font-weight: 700;
    font-style: italic;
}

* {
    font-family: 'opendyslexic' !important;
}
